/* line 169, elements.less */
.nobreak {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  display: table;
}
/* line 9, general.less */
.wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 180px;
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
}
/* line 16, general.less */
.wrapper_m {
  display: grid;
  grid-template-columns: 1fr 60px;
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
}
/* line 23, general.less */
.top_header {
  min-height: 105px;
  background: #ffffff;
  position: relative;
}
/* line 28, general.less */
.top_header .top_navigation {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #262626;
  width: 100%;
  z-index: 99;
}
/* line 38, general.less */
.top_header .top_navigation .wrapper_m::before {
  content: "";
  position: absolute;
  top: 0;
  margin-left: 5px;
  margin-top: -4px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3.5px 4px 3.5px;
  border-color: transparent transparent #262626 transparent;
}
/* line 53, general.less */
.top_header .top_navigation .donate_button {
  float: right;
  display: block;
  height: 90px;
  text-align: center;
}
/* line 59, general.less */
.top_header .top_navigation .donate_button a {
  height: 87px;
  display: block;
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 90px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-bottom: 3px solid white;
  font-weight: 600;
}
/* line 71, general.less */
.top_header .top_navigation .donate_button a:hover {
  color: #eedf9c;
  border-bottom: 3px solid #eedf9c;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 79, general.less */
.top_header .top_navigation .ale_headermenu {
  line-height: 90px;
  display: inline-block;
  padding: 0;
  margin: 0;
}
/* line 85, general.less */
.top_header .top_navigation .ale_headermenu li {
  display: inline-block;
  float: left;
  color: #fff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  height: 90px;
  position: relative;
  margin-right: 2px;
}
/* line 96, general.less */
.top_header .top_navigation .ale_headermenu li:hover .sub-menu {
  display: block;
}
/* line 101, general.less */
.top_header .top_navigation .ale_headermenu li .sub-menu {
  background-color: #fff;
  color: #a9a9a9;
  width: 140px;
  box-sizing: border-box;
  border-top: 3px solid #eedf9c;
  margin-top: -3px;
  padding: 10px 0;
  position: relative;
  display: none;
}
/* line 112, general.less */
.top_header .top_navigation .ale_headermenu li .sub-menu::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  margin-left: -3px;
  margin-top: -4px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3.5px 4px 3.5px;
  border-color: transparent transparent #eedf9c transparent;
}
/* line 128, general.less */
.top_header .top_navigation .ale_headermenu li .sub-menu li {
  color: #a9a9a9;
  font-size: 13px;
  display: block;
  height: 40px;
  float: none;
  width: 100%;
  line-height: 40px;
  margin: 0;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 140, general.less */
.top_header .top_navigation .ale_headermenu li .sub-menu li.menu-item-has-children::after {
  content: "\f054";
  font: normal normal normal 6px/1 FontAwesome;
  color: #eedf9c;
  position: absolute;
  top: 50%;
  left: 78%;
  margin-top: -3px;
}
/* line 152, general.less */
.top_header .top_navigation .ale_headermenu li .sub-menu li:hover .sub-menu {
  display: block;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 158, general.less */
.top_header .top_navigation .ale_headermenu li .sub-menu li .sub-menu {
  position: absolute;
  border-left: 2px solid #f7f7f7;
  border-top: 0;
  left: 100%;
  top: 0;
  display: none;
}
/* line 166, general.less */
.top_header .top_navigation .ale_headermenu li .sub-menu li .sub-menu::before {
  display: none;
}
/* line 172, general.less */
.top_header .top_navigation .ale_headermenu li .sub-menu li:last-child a {
  border-bottom: 0;
}
/* line 177, general.less */
.top_header .top_navigation .ale_headermenu li .sub-menu li a {
  color: inherit;
  height: auto;
  margin: 0 25px;
  padding: 0;
  display: block;
  border-bottom: 1px solid #d4dad9;
  line-height: 40px;
  box-sizing: border-box;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 188, general.less */
.top_header .top_navigation .ale_headermenu li .sub-menu li a:hover {
  color: #804258;
  text-decoration: underline;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 197, general.less */
.top_header .top_navigation .ale_headermenu li.current_page_item,
.top_header .top_navigation .ale_headermenu li.current-menu-item {
  color: #eedf9c;
}
/* line 203, general.less */
.top_header .top_navigation .ale_headermenu li:first-child a {
  padding-left: 0;
}
/* line 209, general.less */
.top_header .top_navigation .ale_headermenu li::after {
  content: "\f111";
  font: normal normal normal 4px/1 FontAwesome;
  color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  float: left;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -2px;
}
/* line 221, general.less */
.top_header .top_navigation .ale_headermenu li:last-child::after {
  content: "";
}
/* line 226, general.less */
.top_header .top_navigation .ale_headermenu li a {
  color: inherit;
  text-decoration: none;
  padding: 0 30px 0 30px;
  display: block;
  height: 100%;
}
/* line 233, general.less */
.top_header .top_navigation .ale_headermenu li:hover {
  color: #eedf9c;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 244, general.less */
.top_header::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: gray;
  position: absolute;
  top: 100%;
}
/* line 256, general.less */
.header_third {
  float: left;
}
/* line 259, general.less */
.logo_section {
  text-align: left;
}
/* line 262, general.less */
.logo_link {
  height: 100px;
}
/* line 265, general.less */
.social_section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  font-size: 22px;
  color: #d4dad9;
  line-height: 105px;
}
/* line 274, general.less */
.social_section i {
  margin-left: 25px;
}
/* line 277, general.less */
.social_section a {
  color: inherit;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 281, general.less */
.social_section a:hover {
  color: #b9c2c1;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 287, general.less */
.search_section {
  line-height: 105px;
}
/* line 290, general.less */
.menu_icon {
  display: inline-block;
  float: left;
  line-height: 110px;
}
/* line 294, general.less */
.menu_icon i {
  font-size: 20px;
  color: dark;
  margin-right: 30px;
  cursor: pointer;
}
/* line 301, general.less */
.search_box {
  display: inline-block;
  float: left;
}
/* line 304, general.less */
.search_box fieldset {
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 16 px;
}
/* line 309, general.less */
.search_box fieldset:before {
  content: "\f002";
  font: normal normal normal 14px/1 FontAwesome;
  display: inline-block;
  color: #d4dad9;
  margin-right: 6px;
}
/* line 318, general.less */
#searchsubmit {
  display: none;
}
/* line 321, general.less */
.searchinput {
  border: none;
  color: #a9a9a9;
  font-size: 12px;
  font-style: italic;
}
/* line 326, general.less */
.searchinput::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #d4dad9;
  font-size: 12px;
  font-style: italic;
}
/* line 331, general.less */
.searchinput::-moz-placeholder {
  /* Firefox 19+ */
  color: #d4dad9;
  font-size: 12px;
  font-style: italic;
}
/* line 336, general.less */
.searchinput:-ms-input-placeholder {
  /* IE 10+ */
  color: #d4dad9;
  font-size: 12px;
  font-style: italic;
}
/* line 341, general.less */
.searchinput:-moz-placeholder {
  /* Firefox 18- */
  color: #d4dad9;
  font-size: 12px;
  font-style: italic;
}
@media (max-width: 768px) {
  /* line 351, general.less */
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 180px;
  }
  /* line 355, general.less */
  .logo_section {
    display: none;
  }
}
@media (max-width: 600px) {
  /* line 360, general.less */
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 90px;
  }
  /* line 364, general.less */
  .social_section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    line-height: 50px;
  }
  /* line 369, general.less */
  .wrapper_m {
    display: grid;
    grid-template-columns: 150px;
  }
}
/*
	ul {
  width: 100%;
  max-width: 360px;
  margin: 30px auto 20px;
  background: #FFF;
}

ul .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  }

/**
 * Submenu
 -----------------------------*/
/*
.submenu {
  display:none;
}

ul a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
 }

ul li:hover > ul{
  display: block;
}
	*/
